.fullwidthbanner-container
  .fullwidthbanner
    
    %ul
      %li{"data-transition" => "fade"}
        
        / %img{:alt => "", :src => "_content/index/slider/1920x547-1.jpg"}/
        = image_tag ("s_content/index/slider/1920x547-1.jpg")
        
        .caption.title.sft{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2000", "data-x" => "0", "data-y" => "100"}
          WE are
          %strong the best
          %br/
          for your business!
        
        .caption.text.sfl{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2500", "data-x" => "0", "data-y" => "250"}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit pharetra urna, at
          %br/
          pharetra nisl vehicula lacinia phasellus suscipit vulputate felis nulla ac
          %br/
          aliquet lorem etiam mauris lacus.
        
        .caption.icons-1.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2800", "data-x" => "0", "data-y" => "350"}
          Graphic Desigh
          %span
            %i.ifc-right
        .caption.icons-2.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3000", "data-x" => "150", "data-y" => "350"}
          Airbrushing
          %span
            %i.ifc-hearts
        
        .caption.icons-3.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3200", "data-x" => "300", "data-y" =>   "350"}
          Web Design
          %span
            %i.ifc-speech_bubble_filled
        .caption.fade{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "1600", "data-x" => "600", "data-y" => "0"}
          / %img{:alt => "", :src => "_content/index/slider/slide-person-1.png"}/
          = image_tag ("_content/index/slider/slide-person-1.png")            
      
      %li{"data-transition" => "fade"}
        
        / %img{:alt => "", :src => "_content/index/slider/1920x547-2.jpg"}/
        = image_tag ("_content/index/slider/1920x547-2.jpg")
        
        .caption.bg.fade{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2000", "data-x" => "0", "data-y" => "0"}
        
        .caption.sub-title.sft{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2100", "data-x" => "50", "data-y" => "70"}
          Lorem ipsum
          %strong dolor sit
          amet.
        
        .caption.text.sft{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2400", "data-x" => "50", "data-y" => "120", :style => "color:#474e5d;"}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit pharetra
          %br/
          urna, at pharetra nisl vehicula lacinia phasellus suscipit vulputate
          %br/
          felis nulla ac aliquet lorem etiam mauris lacus.
        
        .caption.sfl{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3100", "data-x" => "50", "data-y" => "235"}
          
          / %img{:alt => "", :src => "_content/index/slider/slide-2.png"}/
          = image_tag ("_content/index/slider/slide-2.png")
        
        .caption.text.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3600", "data-x" => "250", "data-y" => "255"}
          %ul.square
            %li Sed ut perspiciatis unde omnis
            %li Lorem ipsum dolor sit consectetur
            %li Donec suscipit erat sed nisl adipiscin
            %li Nunc eu felis vel leo fermentum
            %li Integer commodo felis mollis purus
        
        .caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3800", "data-x" => "250", "data-y" => "455"}
          %a.btn.btn-black{:href => "#"} read more
        
        .caption.fade{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "1600", "data-x" => "600", "data-y" => "0"}
          / %img{:alt => "", :src => "_content/index/slider/slide-person-2.png"}/
          = image_tag ("_content/index/slider/slide-person-2.png")
      
      %li{"data-transition" => "fade"}
        / %img{:alt => "", :src => "_content/index/slider/1920x547-3.jpg"}/
        = image_tag ("_content/index/slider/1920x547-3.jpg")
        
        .caption.title.sft{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "1600", "data-x" => "150", "data-y" => "65", :style => "font-size:36px;"}
          We are
          %span the best
          for your business!
            
        .caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2200", "data-x" => "250", "data-y" => "190"}
          / %img{:alt => "", :src => "_content/index/slider/slide-3.png"}/
          = image_tag ("_content/index/slider/slide-3.png")
        
        .caption.icons-1.alt.sfl{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "2800", "data-x" => "100", "data-y" => "300"}
          Graphic Design
          %span
            %i.ifc-right
        
        .caption.icons-2.alt.sft{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3200", "data-x" => "700", "data-y" => "150"}
          Airbrushing
          %span
            %i.ifc-hearts
        
        .caption.icons-3.alt.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3600", "data-x" => "800", "data-y" => "350"}
          Web Desigh
          %span
            %i.ifc-speech_bubble_filled
  / end .fullwidthbanner
/ end .fullwidthbanner-container