.row
  .span3
    .portfolio-item
      .portfolio-item-preview
        %a{:href => "#"}
          / %img{:alt => "", :src => "_content/portfolio/220x217-1.png"}/
          %img{:alt => "", src: "#{image_path("_content/portfolio/220x217-1.png")}"}
        .portfolio-item-overlay
          .portfolio-item-overlay-actions
            / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/220x217-1.png", :title => "zoom"}
            %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/220x217-1.png")}", :title => "zoom"}
              %i.ifc-zoom_in
            %a.portfolio-item-link{:href => "#", :title => "zoom"}
              %i.ifc-link
          / end .portfolio-item-overlay-actions
          .portfolio-item-description.hidden-tablet
            %h4.text-uppercase Portfolio Item
            %p Description
          / end .portfolio-item-description
        / end .portfolio-item-overlay
      / end .portfolio-item-preview
    / end .portfolio-item
  / end .span3
  .span3
    .portfolio-item
      .portfolio-item-preview
        %a{:href => "#"}
          / %img{:alt => "", :src => "_content/portfolio/220x217-2.png"}/
          %img{:alt => "", src: "#{image_path("_content/portfolio/220x217-2.png")}"}
        .portfolio-item-overlay
          .portfolio-item-overlay-actions
            / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/220x217-2.png", :title => "zoom"}
            %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/220x217-2.png")}", :title => "zoom"}
              %i.ifc-zoom_in
            %a.portfolio-item-link{:href => "#", :title => "zoom"}
              %i.ifc-link
          / end .portfolio-item-overlay-actions
          .portfolio-item-description.hidden-tablet
            %h4.text-uppercase Portfolio Item
            %p Description
          / end .portfolio-item-description
        / end .portfolio-item-overlay
      / end .portfolio-item-preview
    / end .portfolio-item
  / end .span3
  .span3
    .portfolio-item
      .portfolio-item-preview
        %a{:href => "#"}
          / %img{:alt => "", :src => "_content/portfolio/220x217-3.png"}/
          %img{:alt => "", src: "#{image_path("_content/portfolio/220x217-3.png")}"}
        .portfolio-item-overlay
          .portfolio-item-overlay-actions
            / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/220x217-3.png", :title => "zoom"}
            %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/220x217-3.png")}", :title => "zoom"}
              %i.ifc-zoom_in
            %a.portfolio-item-link{:href => "#", :title => "zoom"}
              %i.ifc-link
          / end .portfolio-item-overlay-actions
          .portfolio-item-description.hidden-tablet
            %h4.text-uppercase Portfolio Item
            %p Description
          / end .portfolio-item-description
        / end .portfolio-item-overlay
      / end .portfolio-item-preview
    / end .portfolio-item
  / end .span3
  .span3
    .portfolio-item
      .portfolio-item-preview
        %a{:href => "#"}
          / %img{:alt => "", :src => "_content/portfolio/220x217-4.png"}/
          %img{:alt => "", src: "#{image_path("_content/portfolio/220x217-4.png")}"}
        .portfolio-item-overlay
          .portfolio-item-overlay-actions
            / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/220x217-4.png", :title => "zoom"}
            %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/220x217-4.png")}", :title => "zoom"}
              %i.ifc-zoom_in
            %a.portfolio-item-link{:href => "#", :title => "zoom"}
              %i.ifc-link
          / end .portfolio-item-overlay-actions
          .portfolio-item-description.hidden-tablet
            %h4.text-uppercase Portfolio Item
            %p Description
          / end .portfolio-item-description
        / end .portfolio-item-overlay
      / end .portfolio-item-preview
    / end .portfolio-item
  / end .span3
/ end .row  