#wrap
  #content
    / /// CONTENT  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    / /// BANNER   ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    = render 'sapphire/banner'
    / ///   BOX    ///////////////////////////////////////////////////////////////////////////////////////////////////////////   
    = render 'sapphire/box'
    
    .row
      .span3
        .icon-box-2.color-shade-1
          %span
            %i.ifc-right
          .icon-box-content
            %h3.text-center
              %a{:href => "#"} Lorem ipsum dolor
            %p.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt
            %p.text-center
              %a.btn read more
          / end .icon-box-content
        / end .icon-box-2
      / end .span3
    
      .span3
        .icon-box-2.color-shade-2
          %span
            %i.ifc-spades
          .icon-box-content
            %h3.text-center
              %a{:href => "#"} Lorem ipsum dolor
            %p.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt
            %p.text-center
              %a.btn read more
          / end .icon-box-content
        / end .icon-box-2
      / end .span3
      
      .span3
        .icon-box-2.color-shade-3
          %span
            %i.ifc-clouds
          .icon-box-content
            %h3.text-center
              %a{:href => "#"} Lorem ipsum dolor
            %p.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt
            %p.text-center
              %a.btn read more
          / end .icon-box-content
        / end .icon-box-2
      / end .span3
      
      .span3
        .icon-box-2.color-shade-4
          %span
            %i.ifc-recycle_sign_filled
          .icon-box-content
            %h3.text-center
              %a{:href => "#"} Lorem ipsum dolor
            %p.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt
            %p.text-center
              %a.btn read more
          / end .icon-box-content
        / end .icon-box-2
      / end .span3
    / end .row
    
    .box-3{:style => "margin-bottom:0;"}
      .row
        .span6
          %br/
          %h2 Easy to customize
          %h3
            Retina Ready &
            %strong Ultra responsive
          %br/
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip.
          %br/
          %p.last
            %a.btn.btn-green-dark{:href => "#"} Read more
        / end .span6
        .span6
          / %img.responsive-img{:alt => "", :src => "_content/index/750x445.png"}/
          %img.responsive-img{:alt => "", src: "#{image_path("_content/index/750x445.png")}"}/
        / end .span6
      / end .row
    / end .box
    
    .box-2
      .row
        
        .span3
          .milestone.fixed
            .milestone-content
              %span.milestone-value{"data-speed" => "2000", "data-stop" => "253"}
              .milestone-description Mail responses
            / end .milestone-content
          / end .milestone
        / end .span3
        
        .span3
          .milestone.fixed
            .milestone-content
              %span.milestone-value{"data-speed" => "2000", "data-stop" => "25"}
              .milestone-description Airline tickets
            / end .milestone-content
          / end .milestone
        / end .span3
        
        .span3
          .milestone.fixed
            .milestone-content
              %span.milestone-value{"data-speed" => "2000", "data-stop" => "83"}
              .milestone-description Days traveling
            / end .milestone-content
          / end .milestone
        / end .span3
        
        .span3
          .milestone.fixed
            .milestone-content
              %span.milestone-value{"data-speed" => "2000", "data-stop" => "1134"}
              .milestone-description Hours worked
            / end .milestone-content
          / end .milestone
        / end .span3
      / end. row
    / end .box
    
    .row
      .span12
        .icon-box-1
          %i.ifc-copy
          .icon-box-content
            %h2
              %a{:href => "#"} Project Title
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt.magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit
              voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
              quasi architecto beatae vitae dicta sunt explicabo.
          / end .icon-box-content
        / end .icon-box-1
      / end .span12
    / end .row
    
    .row
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Fully Responsive
          %br.clear/
          %p
            Proin pretium, quam ut rutrum fringilla, tellus augue tempor metus, nec lobortis
            tellus felis quis lorem. Proin ultrices semper dapibus.
        / end .icon-box-3
      / end .span4
    
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Free Support
          %br.clear/
          %p
            Cras fringilla mi et leo placerat dignissim. Cras blandit ut libero et
            bibendum. Vestibulum vehicula ornare diam.
        / end .icon-box-3
      / end .span4
    
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Many Options
          %br.clear/
          %p
            Morbi hendrerit varius sem, ut aliquam tellus blandit id. Nullam
            lorem mi, ullamcorper sed rhoncus id, vulputate quis magna.
        / end .icon-box-3
      / end .span4
    / end .row
  
    .row
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Retina Ready
          %br.clear/
          %p
            Morbi eget dapibus sapien. Morbi quis velit convallis, semper nibh eu,
            sodales dui. Fusce id luctus est, in rhoncus velit nunc.
        / end .icon-box-3
      / end .span4
      
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Business design
          %br.clear/
          %p
            Integer eu vehicula libero. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas.
        / end .icon-box-3
      / end .span4
      .span4
        .icon-box-3
          %i.fa.fa-circle
          %h3.text-uppercase
            %strong
              %a{:href => "#"} Color Coded
          %br.clear/
          %p
            Vestibulum id erat porta, consequat libero et, tincidunt nibh.
            Curabitur eget tristique metus. Vivamus non luctus nulla metus.
        / end .icon-box-3
      / end .span4
    / end .row
    
    %ul.portfolio-strip.fixed
      
      %li
        .portfolio-item
          .portfolio-item-preview
            %a{:href => "#"}
              / %img{:alt => "", :src => "_content/portfolio/385x385-1.png"}/
              %img{:alt => "", src: "#{image_path("_content/portfolio/385x385-1.png")}"}/
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/385x385-1.png", :title => "zoom"}
                %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/385x385-1.png")}", :title => "zoom"}
                  %i.ifc-zoom_in
                %a.portfolio-item-link{:href => "#", :title => "zoom"}
                  %i.ifc-link
              / end .portfolio-item-overlay-actions
              .portfolio-item-description
                %h4.text-uppercase Portfolio Item
                %p Description
              / end .portfolio-item-description
            / end .portfolio-item-overlay
          / end .portfolio-item-preview
        / end .portfolio-item
      
      %li
        .portfolio-item
          .portfolio-item-preview
            %a{:href => "#"}
              / %img{:alt => "", :src => "_content/portfolio/385x385-2.png"}/
              %img{:alt => "", src: "#{image_path("_content/portfolio/385x385-2.png")}"}/
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/385x385-2.png", :title => "zoom"}
                %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/385x385-2.png")}", :title => "zoom"}
                  %i.ifc-zoom_in
                %a.portfolio-item-link{:href => "#", :title => "zoom"}
                  %i.ifc-link
              / end .portfolio-item-overlay-actions
              .portfolio-item-description
                %h4.text-uppercase Portfolio Item
                %p Description
              / end .portfolio-item-description
            / end .portfolio-item-overlay
          / end .portfolio-item-preview
        / end .portfolio-item
      
      %li
        .portfolio-item
          .portfolio-item-preview
            %a{:href => "#"}
              / %img{:alt => "", :src => "_content/portfolio/385x385-3.png"}/
              %img{:alt => "", src: "#{image_path("_content/portfolio/385x385-3.png")}"}/
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/385x385-3.png", :title => "zoom"}
                %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/385x385-3.png")}", :title => "zoom"}
                  %i.ifc-zoom_in
                %a.portfolio-item-link{:href => "#", :title => "zoom"}
                  %i.ifc-link
              / end .portfolio-item-overlay-actions
              .portfolio-item-description
                %h4.text-uppercase Portfolio Item
                %p Description
              / end .portfolio-item-description
            / end .portfolio-item-overlay
          / end .portfolio-item-preview
        / end .portfolio-item
      
      %li
        .portfolio-item
          .portfolio-item-preview
            %a{:href => "#"}
              / %img{:alt => "", :src => "_content/portfolio/385x385-4.png"}/
              %img{:alt => "", src: "#{image_path("_content/portfolio/385x385-4.png")}"}/
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/385x385-4.png", :title => "zoom"}
                %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/385x385-4.png")}", :title => "zoom"}
                  %i.ifc-zoom_in
                %a.portfolio-item-link{:href => "#", :title => "zoom"}
                  %i.ifc-link
              / end .portfolio-item-overlay-actions
              .portfolio-item-description
                %h4.text-uppercase Portfolio Item
                %p Description
              / end .portfolio-item-description
            / end .portfolio-item-overlay
          / end .portfolio-item-preview
        / end .portfolio-item
      
      %li
        .portfolio-item
          .portfolio-item-preview
            %a{:href => "#"}
              / %img{:alt => "", :src => "_content/portfolio/385x385-5.png"}/
              %img{:alt => "", src: "#{image_path("_content/portfolio/385x385-5.png")}"}/
            .portfolio-item-overlay
              .portfolio-item-overlay-actions
                / %a.magnificPopup-gallery.portfolio-item-zoom{:href => "_content/portfolio/385x385-5.png", :title => "zoom"}
                %a.magnificPopup-gallery.portfolio-item-zoom{href: "#{image_path("_content/portfolio/385x385-5.png")}", :title => "zoom"}
                  %i.ifc-zoom_in
                %a.portfolio-item-link{:href => "#", :title => "zoom"}
                  %i.ifc-link
              / end .portfolio-item-overlay-actions
              .portfolio-item-description
                %h4.text-uppercase Portfolio Item
                %p Description
              / end .portfolio-item-description
            / end .portfolio-item-overlay
          / end .portfolio-item-preview
        / end .portfolio-item
  
    .row
      .span6
        %ul.icon-box-6
          
          %li
            %i.ifc-user_male
            .icon-box-content
              %h3
                %a{:href => "#"} Retina Ready
              %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            / end .process-builder-1-content
          
          %li
            %i.ifc-upload_filled
            .icon-box-content
              %h3
                %a{:href => "#"} Optimized for Devices
              %p Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
            / end .process-builder-1-content
          
          %li
            %i.ifc-unlock
            .icon-box-content
              %h3
                %a{:href => "#"} Easy to Customize
              %p Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            / end .process-builder-1-content
      / end .span6
      
      .span6
        .icon-box-1
          %i.ifc-toolbox_filled
          .icon-box-content
            %h4 Polls & Stuff
          / end .icon-box-content
        / end .icon-box-1
        %br/
        .fixed
          .progress-bar-description
            Creativity
            %span 75%
          .progress-bar
            %span.progress-bar-outer{"data-width" => "75", :style => "background-color:#62d4d8;"}
              %span.progress-bar-inner
          / end .progress-bar
        .fixed
          .progress-bar-description
            Sustenability
            %span 85%
          .progress-bar
            %span.progress-bar-outer{"data-width" => "85", :style => "background-color:#0aab8a;"}
              %span.progress-bar-inner
          / end .progress-bar
        .fixed
          .progress-bar-description
            Developement
            %span 65%
          .progress-bar
            %span.progress-bar-outer{"data-width" => "65", :style => "background-color:#6fd589;"}
              %span.progress-bar-inner
          / end .progress-bar
        .fixed
          .progress-bar-description
            Clients
            %span 95%
          .progress-bar
            %span.progress-bar-outer{"data-width" => "95", :style => "background-color:#3db0b4;"}
              %span.progress-bar-inner
          / end .progress-bar
      / end .span6
    / end .row
  / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #content