#wrap
  #content
    / /// CONTENT  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    #page-header
      .row
        .span12
          %h2 Our Team
        / end .span12
      / end .row
    / end #page-header
    .row
      .span12
        %h3.headline
          %span Meet the Team
      / end .span12
    / end .row
    .row
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-1.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/255x300-1.png")}"}
          %br.clear/
          %h3 Cate Smith
          %h4 Designer
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
          / end .social-media
        / end .team-member
      / end .span4
      .span8
        .icon-box-1
          %i.ifc-star
          .icon-box-content
            %h4
              %em "This is my story"
          / end .icon-box-content
        / end .icon-box-1
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proiden.
        %br/
        %br/
        %ul.circle
          %li Lorem ipsum dolor sit amet, consecteur adipisicing elit
          %li Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          %li Nemo enim ipsam voluptatem quia voluptas sit aspernatur odit aut fugit
      / end .span8
    / end .row
    %br/
    %br/
    .row
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-2.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/255x300-2.png")}"}
          %br.clear/
          %h3 John Doe
          %h4 Project Manager
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
          / end .social-media
        / end .team-member
      / end .span4
      .span8
        .icon-box-1
          %i.ifc-umbrella_filled
          .icon-box-content
            %h4
              %em "I don’t need no quote;
          / end .icon-box-content
        / end .icon-box-1
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat.
        %br/
        %br/
        %ul.circle
          %li Lorem ipsum dolor sit amet, consecteur adipisicing elit
          %li Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          %li Nemo enim ipsam voluptatem quia voluptas sit aspernatur odit aut fugit
      / end .span8
    / end .row
    %br/
    %br/
    .row
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-3.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/255x300-3.png")}"}
          %br.clear/
          %h3 Maria Carter
          %h4 Designer
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
          / end .social-media
        / end .team-member
      / end .span4
      .span8
        .icon-box-1
          %i.ifc-leaf
          .icon-box-content
            %h4
              %em "I’m the best in my branch quote;
          / end .icon-box-content
        / end .icon-box-1
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
        %br/
        %br/
        %ul.circle
          %li Lorem ipsum dolor sit amet, consecteur adipisicing elit
          %li Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          %li Nemo enim ipsam voluptatem quia voluptas sit aspernatur odit aut fugit
      / end .span8
    / end .row
    %br/
    %br/
    .row
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-4.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/255x300-4.png")}"}
          %br.clear/
          %h3 Paul Smith
          %h4 Designer
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
          / end .social-media
        / end .team-member
      / end .span4
      .span8
        .icon-box-1
          %i.ifc-airplane_mode_on
          .icon-box-content
            %h4
              %em "Save the best for last quote;
          / end .icon-box-content
        / end .icon-box-1
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptat.
        %br/
        %br/
        %ul.circle
          %li Lorem ipsum dolor sit amet, consecteur adipisicing elit
          %li Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          %li Nemo enim ipsam voluptatem quia voluptas sit aspernatur odit aut fugit
      / end .span8
    / end .row
    %br/
    %br/
    .box-3{:style => "margin-bottom:-50px;"}
      .row
        .span12
          #testimonial-slider
            %ul.slides
              %li
                .testimonial-2
                  / %img{:alt => "", :src => "_content/testimonial/167x167-1.png"}/
                  %img{:alt => "", src: "#{image_path("_content/testimonial/167x167-1.png")}"}
                  %blockquote
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                  %h5.text-right
                    %strong> Jane Doe
                    ,
                    Client
                / end .testimonial-2
              %li
                .testimonial-2
                  / %img{:alt => "", :src => "_content/testimonial/167x167-2.png"}/
                  %img{:alt => "", src: "#{image_path("_content/testimonial/167x167-2.png")}"}
                  %blockquote
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                  %h5.text-right
                    %strong> Jane Doe
                    ,
                    Client
                / end .testimonial-2
              %li
                .testimonial-2
                  / %img{:alt => "", :src => "_content/testimonial/167x167-3.png"}/
                  %img{:alt => "", src: "#{image_path("_content/testimonial/167x167-3.png")}"}
                  %blockquote
                    %p
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                  %h5.text-right
                    %strong> Jane Doe
                    ,
                    Client
                / end .testimonial-2
          / end #testimonial-slider
        / end .span12
      / end .row
    / end .box-3
    / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  / end #content
/ end #wrap