#header
  / /// HEADER  ////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .row
    .span3
      / // Logo //
      = link_to root_path, :id => "logo" do 
        / %img.responsive-img{:alt => "", :src => "_layout/images/logo.png"}/
        %img.responsive-img{:alt => "", src: "#{image_path("_layout/images/logo.png")}"}/
        / = image_tag ('_layout/images/logo.png')
    / end .span3
    .span9
      / // Mobile menu trigger //
      %a#mobile-menu-trigger{:href => "#"}
        %i.fa.fa-bars
      / // Menu //
      %ul#menu.sf-menu
        %li.current
          / %a{:href => "index.html"} Home
          = link_to "Home", root_path  
         
        %li
          / %a{:href => "about-us.html"} Pages
          = link_to "About us", about_us_sapphire_index_path
          / = link_to "Pages", pages_about_us_sapphire_index_path
          
          %ul
            %li
              / %a{:href => "about-me.html"} About me
              = link_to "Company", about_me_sapphire_index_path
            %li
              / %a{:href => "team.html"} Team
              = link_to "Team", team_sapphire_index_path
            %li
              / %a{:href => "services.html"} Services
              = link_to "Services", services_sapphire_index_path
                    
        %li
          / %a{:href => "contact.html"} Contact
          = link_to "Contact", contact_sapphire_index_path
    / end .span9
  / end .row
  / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #header
